[submodule "miniapp"]
	path = miniapp
	url = https://github.com/aprilweet/blog-miniapp.git
[submodule "server"]
	path = server
	url = https://github.com/aprilweet/blog-server.git
[submodule "web"]
	path = web
	url = https://github.com/aprilweet/blog-web.git
